/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Header Styles */
  header {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  header h1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;  
    font-style: normal;
    font-size: 2rem;
  }
  
  /* Main Content Styles */
  main {
    flex-grow: 1;
    padding: 20px 0;
  }
  
  /* Recipe Styles */
  .recipe {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .recipe h3 {
    margin-bottom: 10px;
  }
  
  .recipe ul {
    padding-left: 20px;
  }
  
  .recipe ul li {
    list-style-type: none;
    margin-bottom: 5px;
  }
  
  /* Footer Styles */
  footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  /* Button Styles */
  #add-recipe-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  #add-recipe-btn:hover {
    background-color: #0056b3;
  }
  
  /* Modal Styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15% auto;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
  }


  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-dialog {
    max-width: 800px;
  }
  
  .modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .modal-header {
    padding-bottom: 0;
  }
  
  .modal-body {
    padding-top: 0;
  }
  
  /* Edit Recipe Button */
  #editRecipeBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }